/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 125px; /* Margin bottom by footer height */
    background-color: #FAFAFA;
}

nav {
    background-color: #1F6298;
    margin-bottom: 20px;
}

a.navbar-brand, a.nav-link {
    color: #FAFAFA;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    height: 125px; /* Set the fixed height of the footer here */
    /*line-height: 90px;/* /* Vertically center the text there */
    background-color: #2E3133;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  /*width: auto;*/
  /*max-width: 680px;*/
  padding: 0 15px;
  color: #4d4d4d;
}