{% extends 'base.html' %}

{% block title %}Paciente{% endblock %}

{% block main %}

<div class="row">
    <div class="col">
        <h1>Dados do paciente</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-borderless">
            <tr>
                <th><h3>Código identificador</h3></th><td><h3>{{ patient.id }}</h3></td>
                <td>
                    <a href="{% url 'patient-update' object.id %}"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <td>
                    <a href="{% url 'patient-delete' object.id %}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            <tr>
                <th>Nome do cliente</th><td>{{ patient.name }}</td>
            </tr>
            <tr>
                <th>Data de nascimento</th><td>{{ patient.birth_date }}</td>
            </tr>
            <tr>
                <th>Data de coleta</th><td>{{ patient.collection_date }}</td>
            </tr>
            <tr>
                <th>Data de entrega</th><td>{{ patient.delivery_date }}</td>
            </tr>
            <tr>
                <th>Nome do médico</th><td>{{ patient.doctor_name }}</td>
            </tr>
            <tr>
                <th>Data da submissão</th><td>{{ patient.submission_date }}</td>
            </tr>
            <tr>
                <th>Data da última alteração</th><td>{{ patient.update_date }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}